* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #1e293b;
}

header h1 {
    font-size: 40px;
    color: #38bdf8;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

section {
    padding: 40px 10%;
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.skills span {
    background: #1e293b;
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid #38bdf8;
}

.project {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: scale(1.03);
    border: 1px solid #38bdf8;
}

.btn {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
    padding: 12px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

#contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    margin-top: 20px;
}

@media(max-width: 768px) {
    header h1 {
        font-size: 30px;
    }

    nav a {
        display: block;
        margin: 8px;
    }
}